body{
  background-color: #092609;
  color: white;
  font-family: 'Roboto', sans-serif;
}
form{
  display: table;
}
input{
  display: table-cell;
}
label{
  text-align: left;
  display: block;
  color: white;
}
i{
  border: 4px solid white;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  margin-right: 3px;
}
h1{
  font-size: 2.25vh;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.navBar li{
  list-style-type: none;
  float: left;
  padding: 10px;
}
.navBar a, .navBar a:active, .navBar a:visited{
  color: white;
  text-decoration: none;
}
.textOverImage{
  position: absolute;
  top: 170px;
  right: 0;
  mix-blend-mode: multiply;
  background-color: #092609;
  padding-left: 10px;
  padding-right: 10px;
}
.imageBox{
  width: 1000px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  position: relative;
}
.textOverImage h2 {
  font-size: 3vh;
  font-family: 'Oswald', sans-serif;
}
a, a:active, a:visited {
  color: white;
  text-decoration: none;
}
a:hover, .navBar a:hover{
  color: #092609;
  background-color: white;
  text-decoration: none;
  border-radius: 3px;
  text-weight: bolder;
  padding: 3px;
}
p, label{
  font-size: 1.5vh;
}
strong{
  color: red;
  font-weight: bolder;
  font-size: 2vh;
}
input{
  color: black;
}
