<h2>Oops! Looks like we ran into a problem</h2>
<p>If you were filling out the <a href="/rangers/new">ranger form</a>, make sure that you included all of your information</p>
<p>If you were filling out the <a href="/animals/new">animal form</a> and indicated that the animal is an endangered species, please make sure to fill out the animal's health and age information</p>
<p><a href="/">Return Home</a><p>
