<!DOCTYPE html>
<html>
  <head>
    <title>Parlour Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald" rel="stylesheet">
    <link href='../../../../css/styles.css' rel='stylesheet' type="text/css">
  </head>
  <body>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
