<h1><i class="fa fa-tree" aria-hidden="true"></i>Portland Forest Protection Agency</h1>
<div class="navBar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sightings">Sightings</a></li>
    <li><a href="/animals">Animals</a></li>
    <li><a href="/rangers">Rangers</a></li>
  </ul>
</div>
