<div class="navBar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sightings">Sightings</a></li>
    <li><a href="/animals">Animals</a></li>
    <li><a href="/rangers">Rangers</a></li>
  </ul>
</div>
