<h2>$ranger.getName()</h2>
<p>Ranger Number: $ranger.getRangerNumber()</p>
<p>Email: $ranger.getEmail()</p>
<p><a href="/rangers/$ranger.getId()/edit">Edit</a>|<a href="/rangers/$ranger.getId()/delete">Delete</a></p>
