<h2>Sighting #$sighting.getId()</h2>
<img src="http://www.plicmapcenter.org/images/CA_BLM_SouthDeer_PLIA.gif">
<p>Location: $sighting.getLocation()</p>
<p>Date: $sighting.getDate()</p>
<p>Sighted by: $sighting.getRangerId()<p>
<p><a href="/sightings/$sighting.getId()/edit">Edit</a>|<a href="/sightings/$sighting.getId()/delete">Delete</a></p>
