<h2>Sighting #$sighting.getId()</h2>
<img src="http://www.plicmapcenter.org/images/CA_BLM_SouthDeer_PLIA.gif">
<p>Location: $sighting.getLocation()</p>
<p>Date: $sighting.getDate()</p>
Animal spotted:
#foreach ($animal in $animals)
<ul>
  <li><a href="/animals/$animal.getId()">$animal.getName()</a></li>
</ul>
#end
<p>Sighted by: $sighting.getRangerId()<p>
<p><a href="/sightings/$sighting.getId()/edit">Edit</a>|<a href="/sightings/$sighting.getId()/delete">Delete</a></p>
