<h2>View Sightings</h2>
#if (!($sightings.isEmpty()))
  <p><a href="/sightings/new">Add New Sighting</a></p>
  #foreach ($sighting in $sightings)
  <ul>
    <li><a href="/sightings/$sighting.getId()">Animal sighting at Zone $sighting.getLocation() on $sighting.getDate()</a></li>
  </ul>
  #end
#else
  <p>There are currently 0 sightings. <a href="/sightings/new">Add A Sighting</a></p>
#end
